### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
!**/src/main/**/out/
!**/src/test/**/out/

.gradle
!gradle/wrapper/gradle-wrapper.jar

build/
dispatcher-layer/build

common-rabbitmq/src/main/resources/botConfig.properties